<!DOCTYPE html>
<html>
<head>
	<title> Django Celery Task</title>
</head>
<body>
	<form action="." method="post" enctype="multipart/form-data">{% csrf_token %}
		<div>
			<button type="submit" name="pending_job" value="pending_job">Start Pending Job</button>
		</div>
		<br>
		<div>
			<label for="success">Success</label>
		<label name="success" id="success">{{sus_count}}</label>
		</div>
		<div>
			<label  name="pending">Pending</label>
			<label name="pending" id="pending">{{pen_count}}</label>
		</div>
		<div>
			<label  name="failure">Failure</label>
			<label name="failure" id="failure">{{fai_count}}</label>		
		</div>
	</form>
</body>
</html> 

</html>	 